openapi: 3.0.3
info:
  title: cherubgyre-api
  description: 
    "The cherubgyre-server API represents the interface to the back end of cherubgyre, an anonymous community defense social network. We use it for managing users, following/unfollowing, duress statuses, JWT authentication, invite codes, location-based duress broadcasts, and other user status features."
  contact:
    name: Author
    email: d@cherubgyre.com
  version: 0.3.0
  license:
    name: GNU General Public License 3
    url: https://www.gnu.org/licenses/gpl-3.0-standalone.html

servers:
  - url: https://prod.cherubgyre.com/v1
    description: Production Server
    variables:
      user_id:
        default: 0192246a-be9c-777f-bc6f-267f8ce69d08
        description: a user ID
      port:
        enum:
          - '8443'
        default: '8443'
  - url: https://dev.cherubgyre.com/v1
    description: Development Server
    variables:
      user_id:
        default: 0192246a-be9c-777f-bc6f-267f8ce69d08
        description: a user ID
      port:
        enum:
          - '8443'
        default: '8443'
        
security:
  - bearerAuth: []

paths:
  /login:
    post:
      summary: User login
      description: Login with username and normal pin to receive an access token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: The user's username
                normal_pin:
                  type: string
                  description: The user's normal pin code
      responses:
        '200':
          description: Login successful, access token returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: JWT access token

  /profile:
    get:
      summary: Get user profile
      description: Validate the access token and retrieve user profile information.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Token is valid, user profile returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Invalid or expired token

  /health:
    post:
      summary: Healthcheck
      description: Generate a 200 OK if system is live.
      responses:
        '200':
          description: System is live

  /invite:
    post:
      summary: Generate an invite code for a new user
      description: Generate an anonymous invite code that can be shared with others for them to register. Each user can request only five invite codes per 168-hour period.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Invite code generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteCodeResponse'
        '429':
          description: Rate limit exceeded. No more than five invite codes can be requested per 168-hour period.
        '403':
          description: Unauthorized access (if the user is not authenticated)

  /users/register:
    post:
      summary: Register a new user by invite code
      description: Registration requires a valid invite code. The backend will generate and assign a unique username and avatar. Users must provide both a normal pin code and a duress pin code.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '200':
          description: User registered successfully with procedurally generated username and avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Invalid invite code or missing fields
        '403':
          description: Invite code expired or invalid

  /followers/{user_id}:
    get:
      summary: Get the list of followers for a user
      description: A user can see who is following them.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
          description: ID of the user whose followers are being fetched
      responses:
        '200':
          description: List of followers retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Follower'
    delete:
      summary: Remove or ban a follower
      description: A user can remove a follower from their list and optionally ban them from refollowing. The removed or banned user will receive a notice.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
          description: ID of the user removing the follower

      responses:
        '200':
          description: Follower removed or banned successfully, and the follower has been notified
        '404':
          description: Follower not found or user does not exist

  /follow/{user_id}:
    post:
      summary: Follow another user by username or user ID
      description: Follow a user by either their username or user ID.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
          description: ID of the user following
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FollowRequest'
      responses:
        '200':
          description: Follow request successful
        '404':
          description: User to follow not found

  /unfollow/{user_id}:
    post:
      summary: Unfollow another user by username or user ID
      description: Unfollow a user by either their username or user ID.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
          description: ID of the user unfollowing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnfollowRequest'
      responses:
        '200':
          description: Unfollow request successful
        '404':
          description: User to unfollow not found

  /duress:
    post:
      summary: Push duress status to followers and nearby users
      description: Push a duress notification to all the user's followers and optionally to nearby users within 0.5 km if location-based broadcasting is enabled.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DuressStatus'
      responses:
        '200':
          description: Duress status pushed successfully to followers and/or nearby users
        '429':
          description: Rate limit exceeded. No more than two duress alerts can be sent per hour.
        '403':
          description: Unauthorized access

  /duress/cancel:
    post:
      summary: Cancel an active duress status
      description: Allows a user to cancel an active duress status by entering their normal pin code. If successful, a cancellation notice is sent to their followers.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DuressCancellationRequest'
      responses:
        '200':
          description: Duress status canceled successfully and notification sent to followers
        '403':
          description: Invalid pin code or unauthorized access
        '404':
          description: No active duress status found for the user

  /users/map:
    get:
      summary: Display map of last check-in locations and duress status of followed users
      description: Retrieve the last check-in locations and duress status of all users the requesting user follows.
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: user_id
          required: true
          schema:
            type: string
          description: ID of the user requesting the map data
      responses:
        '200':
          description: Map data for followed users retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserLocationData'

  /users/{user_id}/preferences:
    get:
      summary: Get user preferences for duress broadcasts
      description: Fetch the user's current settings for location-based duress broadcasts.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
          description: ID of the user whose preferences are being fetched
      responses:
        '200':
          description: User preferences fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferences'

    patch:
      summary: Update user preferences for duress broadcasts
      description: Update the user's settings to enable or disable location-based duress broadcasts and receiving of location-based duress alerts.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
          description: ID of the user whose preferences are being updated
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPreferencesUpdate'
      responses:
        '200':
          description: User preferences updated successfully
        '400':
          description: Invalid request or missing fields
        '403':
          description: Unauthorized access

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          description: Unique user ID
        username:
          type: string
          description: Procedurally generated username
        avatar:
          type: string
          description: URL or identifier for procedurally generated avatar

    InviteCodeResponse:
      type: object
      properties:
        invite_code:
          type: string
          description: Generated invite code
          example: "ABC123DEF456"

    RegisterRequest:
      type: object
      properties:
        invite_code:
          type: string
          description: Valid invite code received from an inviter
        normal_pin:
          type: string
          description: A user-selected normal pin code for authentication
        duress_pin:
          type: string
          description: A user-selected duress pin code to trigger duress alerts

    Follower:
      type: object
      properties:
        follower_id:
          type: string
          description: ID of the follower
        username:
          type: string
          description: Username of the follower
        avatar:
          type: string
          description: The follower's avatar

    RemoveFollowerRequest:
      type: object
      properties:
        ban:
          type: boolean
          description: Whether to ban the follower from refollowing in the future
          example: true

    FollowRequest:
      type: object
      properties:
        identifier:
          type: string
          description: Username or user ID of the user to follow

    UnfollowRequest:
      type: object
      properties:
        identifier:
          type: string
          description: Username or user ID of the user to unfollow

    DuressStatus:
      type: object
      properties:
        duress_type:
          type: string
          description: Type of duress being triggered (accelerometer, timeout, pin_code)
          enum: [accelerometer, timeout, pin_code]
        message:
          type: string
          description: Optional message about the duress state
          example: "Duress pin code entered."
        timestamp:
          type: string
          format: date-time
        additional_data:
          type: object
          description: Additional metadata based on the duress type

    DuressCancellationRequest:
      type: object
      properties:
        normal_pin:
          type: string
          description: The user's normal pin code to confirm duress cancellation
        confirm:
          type: boolean
          description: Confirmation to proceed with canceling the active duress status

    UserLocationData:
      type: object
      properties:
        user_id:
          type: string
          description: ID of the followed user
        username:
          type: string
          description: Username of the followed user
        location:
          type: string
          description: Last known check-in location (coordinates)
        duress:
          type: boolean
          description: Whether the user is currently under duress
        last_checkin:
          type: string
          format: date-time
          description: Timestamp of the last check-in

    UserPreferences:
      type: object
      properties:
        broadcast_duress:
          type: boolean
          description: Whether the user allows duress alerts to be broadcast to nearby users
        receive_duress_broadcasts:
          type: boolean
          description: Whether the user wants to receive location-based duress alerts

    UserPreferencesUpdate:
      type: object
      properties:
        broadcast_duress:
          type: boolean
          description: Set this to true to allow duress alerts to be broadcast to nearby users
        receive_duress_broadcasts:
          type: boolean
          description: Set this to true to receive location-based duress alerts

externalDocs:
  url: https://nnix.com/projects/cherubgyre
